/**
 * 站点变量
 * 
 * #1 重置element-ui组件, 请查阅_element-ui__variable-lookup.scss官方变量列表进行重置, 必须保证变量名一致才能生效!
 * #2 站内变量
 */

// ---------- #1 ----------
$--color-primary: #55A8FD;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;
$--color-text-primary: #303133;


// ---------- #2 ----------
// Navbar
$navbar--background-color: $--color-primary;

// Sidebar
$sidebar--background-color-dark: #172850;
$sidebar--color-text-dark: #C8D9FA;

// Content
$content--background-color: #f1f4f5;
